/* ===========================================================================================
BASE STYLES
=========================================================================================== */
html {
  font-family: 'Urbanist', sans-serif;
  font-size: 18px;
  color: #ffffff;
}
body{
  font-size: 1em; /* 18px */
  background-color: #1F001F;
  background-image: linear-gradient(#67198A, #1F001F);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

h1 {
  font-family: 'Rock Salt', cursive;
  font-size: 2em; /* 36px */
  color:#000000;
}

h2 {
  font-family: 'Rock Salt', cursive;
  font-size: 1.33em; /* 24px */
  text-decoration: underline;
  color:#FFEE2E;
  text-align: center;
}

h3 {
  font-family: 'Rock Salt', cursive;
  text-transform: uppercase;
  font-size: 1em; /* 18px */
}

.content-wrapper {
  /* overflow: auto; */
  /* width: 95%; */
  margin: 2%;
}

img {
  width: 100%;
}

figure {
  margin: 5px;
}

/* ===========================================================================================
HEADER STYLES
=========================================================================================== */
/* -------- Hero Image -------- */
#hero{
  background: url('../img/hero-image.png') no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
}
#hero .content-wrapper {
  display: flex;
  flex-flow: row wrap;
}

/* ----------- Logo ----------- */
.logo-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#logo {
  width: 30%;
}

/* ----- Navigation Menu ----- */
nav ul {
  display: flex;
  /* margin: 25px; */
  width: 40%;
}
nav ul li {
  list-style: none;
  text-transform: uppercase;
  background-color: #cf69ff;
  padding: 0 25px;
  height: 36px;
}
#nav-portfolio {
  transform: rotate(-4.61deg);
}
#nav-about {
  transform: rotate(9.97deg);
}
#nav-contact {
  transform: rotate(-5.47deg);
}
nav ul li a {
  text-decoration: none;
  color: #000000;
} 
nav h3 {
  margin: 5px;
}

/* --- active nav link styling --- */
.active { 
  background-color: #67198A;
}
.active a { 
  color:#FFEE2E;
}

/* ----------Hero Quote ------------ */
#hero-quote {
  font-family: 'Rock Salt', cursive;
  color:#000000;
  background-color:#cf69ff99;
  outline: 5px solid #ffee1a99;
  align-self: flex-end;
  padding: 0 25px;
  margin: 3%;
}

/* ===========================================================================================
PORTFOLIO/WORK STYLES
=========================================================================================== */
#portfolio {
  padding: 30px 0 40px 0 ;
  display: flex;
  flex-direction:column;
  justify-content: center;
}
.image-row {
  display:flex;
  justify-content: center;

}
.sm-pic {
  flex-grow: 2;
}
.lg-pic {
  flex-grow: 3;
}
/* ===========================================================================================
ABOUT STYLES
=========================================================================================== */
#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
#headshot {
  width: 55%;
}
#artist-statement {
  width: 40%;
  justify-content: center;
}
/* ===========================================================================================
FOOTER/CONTACT STYLES
=========================================================================================== */
#contact {
  padding: 40px 0 80px 0;
}
#contact .content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 60px;
}
footer p {
  font-size: 1.33em;
  text-align: center;
}
footer a {
  text-decoration: none;
  color:#ffffff;
}
#social-media {
  display: flex;
  justify-content: space-around;
  width: 40%;
}
footer ul li {
  font-size: 60px;
  list-style: none;
}
footer i {
  color: #FFEE2E;
}