/* ===========================================================================================
BASE STYLES
=========================================================================================== */
html {
  font-family: 'Urbanist', sans-serif;
  font-size: 18px;
  margin: 20px;
}

h1 {
  font-family: 'Rock Salt', cursive;
  /* font-size: 32px; */
  font-size: 1.78rem;
  display: inline-block;
}

h2 {
  font-family: 'Rock Salt', cursive;
  /* font-size: 24px; */
  font-size: 1.33rem;
  /* text-transform: uppercase; */
  text-decoration: underline;
}

h3 {
  font-family: 'Rock Salt', cursive;
  text-transform: uppercase;
}

/* ===========================================================================================
HEADER STYLES
=========================================================================================== */
nav ul li {
  list-style: none;
  text-transform: uppercase;
  /* display: inline-block; */
}

nav ul li a {
  text-decoration: none;
}

#logo {
  height: 80px;
  padding: 0 20px;
}

#hero-quote {
  font-family: 'Rock Salt', cursive;
  /* font-size: 36px; */
  font-size: 2rem;
}

footer ul li {
  font-size: 60px;
  list-style: none;
  display: inline-block;
}